extends layout

block content
  h1= title
  form(method="POST" action="/register")
    .form-group.mt-3
        label(for='name') Ismingiz yozing
        input#name.form-control(type='text' name="name" )
    .form-group
        label(for='username') NIK kiriting
        input#username.form-control(type='text' name="username" )
    .form-group
        label(for='email') Emailingizni kiriting
        input#email.form-control(type='email' name="email" ) 
    .form-group
        label(for='password') Parolingizni kiriting
        input#password.form-control(type='password' name="password") 
   
    .form-group
        label(for='password') Parolingizni Tasdiqlang
        input#password11.form-control(type='password' name="password11" ) 
   
    button.btn.btn-success(type='submit') Ro'yxatdan o'tish

  